// Mixins
@mixin button($bg-color, $text-color, $hover-bg, $hover-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border-radius: $border-radius;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all $transition-speed ease;
  
    &:hover {
      background-color: $hover-bg;
      color: $hover-color;
    }
  }
  
  @mixin link($color, $hover-color) {
    color: $color;
    text-decoration: none;
    font-weight: 700;
    transition: color $transition-speed ease;
  
    &:hover {
      color: $hover-color;
    }
  }
  