@use '../sass-utils/mixins';

/* MOBILE MENU BUTTON */
.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* BUTTON NAV */
.btn {
  @include mixins.button-style(#44d0bf, #FEFAFA, #FEFAFA,#00998a);
  padding: 9px 25px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

/* FOOTER BOTTOM */
.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 0.875rem;
  background-color: #00998a;
  color: #FEFAFA;
}
/* Button Search */
main.input h1 {
  margin-bottom: 20px;
}

main.input .button {
  @include mixins.button-style(#44d0bf, #FEFAFA, #00998a, #FEFAFA);
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Button Search */
.button2 {
  @include mixins.button-style(#44d0bf, #FEFAFA, #00998a, #FEFAFA);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .button2 {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}


/* Buttons Shopping Cart */
.remove-button {
  @include mixins.button-style(#00998a, #FEFAFA, #FBA0CE, #000);
  margin-top: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity-control button {
  @include mixins.button-style(#00998a, #fff, #FBA0CE, #000);
  font-size: 1rem;
  padding: 6px 12px;
}

.quantity-control .quantity {
  font-size: 1.1rem;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}
